@page "/history"
@using SolarHeaterControl.Shared.Models
@inject HttpClient Http

<PageTitle>Historie</PageTitle>

<h1>Historie</h1>

<p>Log einträge</p>

@if (logs == null)
{
    <p><em>Laden...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zeitpunkt</th>
                <th>PV Leistung</th>
                <th>Akku-Füllstand</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in logs)
            {
                <tr>
                    <td>@entry.Timestamp.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@entry.CurrentPower kW</td>
                    <td>@entry.CurrentSoc %</td>
                    <td>@entry.Action.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LogEntry[]? logs;

    protected override async Task OnInitializedAsync()
    {
        logs = await Http.GetFromJsonAsync<LogEntry[]>("History");
        logs = logs?.OrderByDescending(l => l.Timestamp).ToArray();
    }
}
