@page "/"
@using SolarHeaterControl.Shared.Models;
@inject HttpClient Http

<PageTitle>Einstellungen</PageTitle>

<h1>Einstellungen</h1>

<EditForm Model="@settings" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <hr />
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Relais IP
        </label>
        <div class="col-sm-4">
            <InputText id="relayIp" class="form-control" placeholder="192.168.1.1"
            @bind-Value="settings.RelayIp" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Wechselrichter IP
        </label>
        <div class="col-sm-4">
            <InputText id="inverterIp" class="form-control" placeholder="192.168.1.1"
            @bind-Value="settings.InverterIp" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Wechselrichter Port
        </label>
        <div class="col-sm-4">
            <InputNumber id="inverterPort" class="form-control" placeholder="502"
            @bind-Value="settings.InverterPort" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Wechselrichter Anzahl
        </label>
        <div class="col-sm-4">
            <InputNumber id="inverterCount" class="form-control" placeholder="1"
            @bind-Value="settings.InverterCount" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Minimum Solar Strom in kW
        </label>
        <div class="col-sm-4">
            <InputNumber id="powerThreshold" class="form-control" placeholder="3"
            @bind-Value="settings.PowerThreshold" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Minimum Akku Ladung in Prozent
        </label>
        <div class="col-sm-4">
            <InputNumber id="socThroshold" class="form-control" placeholder="50"
            @bind-Value="settings.SocThreshold" />
        </div>
    </div>


    <br />
    <button type="submit" class="btn btn-success">Speichern</button>
</EditForm>

@code {
    private Settings? settings = new();

    protected override async Task OnInitializedAsync()
    {
        settings = await Http.GetFromJsonAsync<Settings>("Settings");
    }

    private async Task HandleValidSubmit()
    {

        await Http.PostAsJsonAsync("Settings", settings);
    }
}