@page "/"

<PageTitle>Einstellungen</PageTitle>

<h1>Einstellungen</h1>

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <hr />
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Server IP
        </label>
        <div class="col-sm-4">
            <InputText id="serverIp" class="form-control" placeholder="192.168.1.1"
            @bind-Value="exampleModel.ServerIp" />
        </div>
    </div>    
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Relais IP
        </label>
        <div class="col-sm-4">
            <InputText id="relayIp" class="form-control" placeholder="192.168.1.1"
            @bind-Value="exampleModel.RelayIp" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Wechselrichter IP
        </label>
        <div class="col-sm-4">
            <InputText id="inverterIp" class="form-control" placeholder="192.168.1.1"
            @bind-Value="exampleModel.InverterIp" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Wechselrichter Port
        </label>
        <div class="col-sm-4">
            <InputNumber id="inverterPort" class="form-control" placeholder="502"
            @bind-Value="exampleModel.InverterPort" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Abfragerate in Minuten
        </label>
        <div class="col-sm-4">
            <InputNumber id="refreshPeriod" class="form-control" placeholder="10"
            @bind-Value="exampleModel.RefreshPeriod" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Minimum Solar Strom in kW
        </label>
        <div class="col-sm-4">
            <InputNumber id="powerThreshold" class="form-control" placeholder="3"
            @bind-Value="exampleModel.PowerThreshold" />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-8 col-form-label">
            Minimum Akku Ladung in Prozent
        </label>
        <div class="col-sm-4">
            <InputNumber id="socThroshold" class="form-control" placeholder="50"
            @bind-Value="exampleModel.SocThreshold" />
        </div>
    </div>


    <br />
    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>

@code {
    private SettingsModel exampleModel = new();

    private void HandleValidSubmit()
    {

        // Process the valid form
    }
}